@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0%   { transform: translateX(50%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

/* footer elements TITLE */
.footer-title {
  @apply font-bold font-brandon text-backgroundDefault text-[16px]; 
}

@media (min-width: 640px) {
  .footer-title {
    @apply text-[16px];
  }
}

@media (min-width: 768px) {
  .footer-title {
    @apply text-desktop-footer; 
  }
}


/* footer elements PARAGRAPH */
.footer-text {
  @apply font-source text-backgroundDefault text-[12px] mb-5;
}

@media (min-width: 640px) {
  .footer-text {
    @apply text-[14px];
  }
}

@media (min-width: 768px) {
  .footer-text {
    @apply text-[14px]; 
  }
}


.category-btn{
  @apply h-12 font-brandon font-bold rounded-[8px] w-44 text-mobile-paragraph leading-none md:text-desktop-paragraph2 px-4 py-2 md:px-4 md:py-2 bg-white text-black shadow-md transition-all;
}

.category-btn.active {
  @apply bg-primaryRed text-white shadow-none;
}

.select-quan-btn{
  @apply h-12 font-brandon font-bold rounded-[8px] w-44 text-mobile-paragraph leading-none md:text-desktop-paragraph2 lg:px-4 lg:py-2 md:px-4 md:py-2 bg-white text-black shadow-md transition-all;
}

.select-quan-btn.active {
  @apply bg-white border-2  border-primaryRed text-blackAccent shadow-none;
}

.select-flavor-btn{
  @apply font-brandon font-bold rounded-[8px] w-44 text-mobile-paragraph leading-none md:text-desktop-paragraph2 h-14 md:h-28 lg:px-4 lg:py-2 md:px-4 md:py-2 bg-white text-black shadow-md transition-all;
}

.select-flavor-btn.active {
  @apply bg-white border-2  border-primaryRed text-blackAccent shadow-none;
}



.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  background-color: #F5F5F5;
  border-radius: 9999px;
}

.item-container{
  @apply flex flex-col items-center min-w-[176px] md:min-w-0 pb-6;
}

.menu-grid{
  @apply grid-cols-2 grid md:grid-cols-3 gap-5 max-w-[880px] mx-auto;  
}


.item-card{
  @apply sm:h-[200px] sm:w-[176px] md:h-[263px] md:w-[210px] lg:h-[293px] lg:w-[240px] xl:h-[313px] xl:w-[260px] bg-white rounded-[12px] p-5 flex flex-col items-center shadow-lg;
}

 .calories-price{
  @apply text-[14px] text-goldAccent pt-3
 }

 .sides-card {
  @apply text-center sm:h-[200px] sm:w-[176px] md:h-[263px] md:w-[150px] lg:h-[180px] lg:w-[240px] xl:h-[190px] xl:w-[176px] bg-white rounded-[12px] p-5 flex flex-col items-center shadow-lg border border-transparent;
}



.sides-card.active{
  @apply bg-white border-2  border-primaryRed text-blackAccent shadow-none;
}
