<!-- NAV COMPONENT -->
<div id="nav-component">
    <img class="" src="Images/lbw-logo.png" alt="Love Baked Wings Logo">
    <ul class="flex ">
      <li>Home</li>
      <li><a href="menu.html">Menu</a></li>
      <li>Loyalty</li>
      <li>About</li>
      <li>Catering</li>
      <img src="Icons/search.png" alt="Search Button">
      <button>Sign In</button>
      <button>Join Now</button>
      <img src="Icons/shoppingbag.png" alt="Shopping Bag Button">
    </ul>
  </div>
  
  <!-- FOOTER COMPONENT -->
  <div id="footer-component">
    
  </div>
  
  <!-- REWARDS BANNER COMPONENT -->
  <div id="rewards-component">
    
  </div>