@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0%   { transform: translateX(50%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

/* footer elements TITLE */
.footer-title {
  @apply font-bold font-brandon text-backgroundDefault text-[16px]; 
}

@media (min-width: 640px) {
  .footer-title {
    @apply text-[16px];
  }
}

@media (min-width: 768px) {
  .footer-title {
    @apply text-desktop-footer; 
  }
}

/* footer elements PARAGRAPH */
.footer-text {
  @apply font-source text-backgroundDefault text-[12px] mb-5;
}

@media (min-width: 640px) {
  .footer-text {
    @apply text-[14px];
  }
}

@media (min-width: 768px) {
  .footer-text {
    @apply text-[14px]; 
  }
}


.category-btn{
  @apply h-12 font-brandon font-bold rounded-[8px] w-44 text-mobile-button leading-none md:text-desktop-paragraph2 px-4 py-2 md:px-4 md:py-2 bg-white text-black shadow-md transition-all;
}

.category-btn.active {
  @apply bg-primaryRed text-white shadow-none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  background-color: #ccc; /* light grey or whatever matches your theme */
  border-radius: 9999px;
}

